body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.side-bar {
  height: 100%;
  width: 250px;
  position:absolute;
}

.title-menu {
  background: burlywood;
  height: 10%;
}

.item-menu-block {
  height: 100%;
  background: rgb(95, 14, 208);
}

ul.nav {
  height: 80%;
  background: aqua;
}

li {
  padding: 30px 10px 30px 40px;
}

.nav i {
  font-size: 20px;
  padding-right: 20px;
}

.contents {
  height: 100%;
  width: 100%;
  background: rgb(231, 168, 168);
  margin-left: 250px;
  padding: 0 50px;
}

.table-block{
  overflow: hidden;
}

.task-management-block{
  background: red;
}