body, html {
  padding: 0;
  margin: 0;
  background: rgb(227, 227, 227);
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.side-bar {
  height: 100%;
  width: 250px;
  position:absolute;
  background-color: whitesmoke;
}

.title-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 10%;
}

ul.nav {
  height: 80%;
}

.nav li {
  padding: 30px 10px 30px 40px;
}

.nav i {
  font-size: 20px;
  padding-right: 20px;
}

.contents {
  height: 100%;
  margin-left: 250px;
  padding-top: 50px;
  padding-left: 50px;
  overflow: hidden;
}

.task-list {
  width: 80%;
}

.task {
  display: flex;
  height: 40px;
  border-bottom: solid 1px #87CEFA;
  margin-bottom: 8px;
}

.button {
  display: flex;
  width: 50px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.css-button {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
}

.task-content{
  display: flex;
  align-items: center;
  font-size: 15px;
}

.task li {
  padding: 10px;
}